@font-face {
   font-family: 'Paperlogy';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
   font-weight: 800;
   font-style: normal;
}
@font-face {
   font-family: 'Paperlogy';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: 'Paperlogy';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
}

:root {
   --main-color: #ec455a;
   --title-font: 'Paperlogy', sans-serif;
}
* {font-family: notosans, 'pretendard'; background-color: #FFF; text-decoration: none; box-sizing: border-box;}
body {
   font-family: notosans, 'pretendard';
}
section {
   height: 100vh;
}
section h2 {
   font-size: 32px; font-weight: 800;
   width: 80%; margin:0 auto; font-family: 'Paperlogy';
}
p {background-color: rgba(0, 0, 0, 0.0);}

header {
   position: fixed;
   justify-content: center;
   align-items: center;
   padding: 20px 30px;
   margin: 0;
   z-index: 10;
   top: 0;
   left: 0;
   right: 0;
   font-family: var(--title-font);
}

.header_group {
   display: flex;
   justify-content: space-between;
   background: none;
}

header h1 {
   background: none;
}

header h1 a {
   background: none;
   display: block;
   font-size: 20px;
   color: #000;
   z-index: 15;
   text-decoration: none;
   font-weight: 700;
}

header nav {
   background: none;
}

header nav ul#gnb {
   background: none;
   display: flex;
   margin: 0;
   gap: 40px;
   margin-right: 10px;
}

header nav ul#gnb>li {
   position: relative;
   background: none;

}

header nav ul#gnb>li>a {
   background: none !important;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 18px;
   font-weight: 600;
   white-space: nowrap;
   color: #000;
}

@media (max-width: 630px) {
   header h1 a {
      font-size: 16px;
   }
   header nav ul#gnb {
      gap: 20px;
   }
   header nav ul#gnb>li>a {
      font-size: 14px;
   }
}

/* mainpage */

.main_page {
   position: relative;
   width: 100%;
   height: 100vh;
   font-family: 'Paperlogy', sans-serif;
}



.main1{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 100px;
   font-weight: bold;
   text-align: center;
   z-index: 2;
   opacity: 0;
   transition: opacity 1s ease-in-out;
   background: none;
}
.moved {
   left: 18.3%;
   top: 20%;
   transition: left 1.0s ease-in-out, top 1.0s ease-in-out;
}

.main2, .main3, .main4 {
   position: absolute;
   opacity: 1;
   font-size: 100px;
   font-weight: bold;
   z-index: 2;
   transform: translateX(0);
}

.main2 {
top: 35%;
left: 15%;
color: var(--main-color)
}

.main3 {
top: 52%;
left: 15%;
}

.main4 {
top: 68%;
left: 15%;
color: var(--main-color);
}



.main_img {
   opacity: 0; transition: opacity 1.5s ease;
}
.main_img p {
   font-weight: bold;
   font-size: 28px;
   position: absolute;
   top: 33%;
   left: 70.7%;
   z-index: 10;
   animation: scrollDown 1.5s infinite ease-in-out
}
.scrolldown {
   position: absolute;
   top: 39%;
   left: 70%;
   width: 200px;
   height: 200px;
   animation: scrollDown 1.5s infinite ease-in-out
}

@keyframes scrollDown {
   0%, 100% {
      transform: translateY(0) ;
   }
   50% {
      transform: translateY(50px);
   }
}
@media (max-width: 1650px) {
   .main2 {
      top: 35%;
      left: 14.5%;
   }
   .main3 {
      top: 52%;
      left: 14.5%;
   }
   .main4 {
      top: 68%;
      left: 14.5%;

   }
}

@media (max-width: 1320px) {
   .main2 {
      left: 13.7%;
   }
   .main3 {
      left: 13.7%;
   }
   .main4 {
      left: 13.7%;
   }
}

@media (max-width: 1120px) {
   .main1 ,.main2, .main3, .main4 {
      font-size: 70px;
   }
}
@media (max-width: 810px) {
   .main1 ,.main2, .main3, .main4 {
      font-size: 60px;
   }
   .scrolldown {
      top: 39%;
      left: 75%;
      width: 100px;
      height: 100px;
   }
   .main_img p {
      font-size: 20px;
      top: 33%;
      left: 73.4%;

   }
}
@media (max-width: 510px) {
   .main1 ,.main2, .main3, .main4 {
      font-size: 50px;
   }
   .scrolldown {
      top: 30%;
      left: 75%;
      width: 50px;
      height: 50px;
   }
   .main_img p {
      font-size: 20px;
      top: 25%;
      left: 67.4%;
   }
}

/* profile */
#profile {
   display: flex;flex-direction: column;
   gap: 150px; margin-top: 200px;
   align-items: center;
}
.profile_content {
   display: grid;gap: 0px 100px;
   grid-template-columns: 500px repeat(2, 300px);
   grid-template-rows: repeat(2, 1fr);
   font-size: 18px;font-weight: 500;
   line-height: 1.5em;
   margin-left: 65px;
}
.profile_content strong {
   display: block;
   font-size: 22px;font-weight: 700;
   font-family: var(--title-font);
   margin-bottom: 20px; margin-top: 50px;
}
.profile_content li {padding: 8px 0;}

.profile_img {
   padding-right: 100px;
   grid-row: 1 / 3;
   width: 500px; height: 500px;
}
.profile_img img {
   width: 100%; height: 100%;
   object-fit: cover;
}
.personal {font-family: var(--title-font);}
.personal li ,.education li, .certificates li, .experience li {font-size: 16px !important;}

@media (max-width: 1500px) {
   .profile_img {
      padding-left: 30px;
   }
}
@media (max-width: 1250px) {
   .profile_content {
      gap: 0px 0px;
   }
   .profile_img {
      padding-left: 40px;
   }
   .profile_content strong {font-size: 18px;}
   .personal li ,.education li, .certificates li, .experience li {font-size: 13px !important;}
}
@media (max-width: 1100px) {
   .profile_img {
      padding-left: 100px;
   }
   .profile_content strong {font-size: 16px;}
   .personal li ,.education li, .certificates li, .experience li {font-size: 12px !important;}
}
@media (max-width: 940px) {
   .profile_img {
      width: 400px; height: 500px;
      padding-left: 0px;
   }
   .profile_content {
      gap: 0px 0px;
      grid-template-columns: 300px repeat(2, 250px);
      line-height: 1.3em;
      text-align: center;
   }
   .profile_content strong {font-size: 16px;}
   .personal li ,.education li, .certificates li, .experience li {font-size: 12px !important;}
}
@media (max-width: 700px) {
   #profile {
      display: flex;
      flex-direction: column;
      gap: 20px; /* 프로필 섹션의 전체 간격을 줄입니다 */
      align-items: center;
   }

   .profile_content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      font-size: 16px;
      margin: 0;
      text-align: center;
   }

   .profile_img {
      width: 70%;
      height: auto;
      margin: 0 auto;
      padding: 0;
      grid-column: span 2; /* 이미지가 전체 열을 차지하도록 유지 */
   }

   .profile_img img {
      width: 100%;
      height: auto;
   }

   .profile_content strong {
      font-size: 18px;
      margin-top: 10px; /* 제목의 상단 여백을 줄여서 간격을 좁힙니다 */
      margin-bottom: 5px;
      grid-column: span 2;
   }

   .personal, .education, .certificates, .experience {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3px; /* 각 항목의 간격을 줄여서 밀착 배치 */
   }

   .personal li, .education li, .certificates li, .experience li {
      padding: 3px 0;
   }
}
@media (max-width: 576px) {
   section {
      scroll-margin-top: 100px;
   }
   #profile {
      gap: 70px;
   }

   .profile_content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      font-size: 16px;
      margin: 0;
      text-align: center;
   }

   .profile_img {
      width: 70%;
      height: auto;
      margin: 0 auto;
      padding: 0;
      grid-column: span 2; /* 이미지가 전체 열을 차지하도록 유지 */
   }

   .profile_img img {
      width: 100%;
      height: auto;
   }

   .profile_content strong {
      font-size: 18px;
      margin-top: 10px; /* 제목의 상단 여백을 줄여서 간격을 좁힙니다 */
      margin-bottom: 5px;
      grid-column: span 2;
   }

   .personal, .education, .certificates, .experience {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3px; /* 각 항목의 간격을 줄여서 밀착 배치 */
   }

   .personal li, .education li, .certificates li, .experience li {
      padding: 3px 0;
   }
}


/* skill */
.skill {
   width: 100%;
   margin-top: 90px;
}

.skill_container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 100px 50px;
   width: 80%;
   margin: auto;
   opacity: 0;
   transform: translateY(150px);
   transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.box {
   text-align: center;
   /* aspect-ratio: 1 / 1; */
   transition: transform 0.3s;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: #000;
   background: none;
}
.box:hover {
   transform: scale(1.05);
}
.box img {
   width: 40%
}

.skill_container .box p:nth-of-type(1) {
   font-size: 18px;font-weight: 700;font-family: var(--title-font);
   margin: 30px 0 18px;
}

.skill_container .box p {line-height: 1.6em;}
/* .skill_container .react {margin-top: -21px;} */
@media (max-width: 1650px) {
   .skill_container .box p {font-size: 15px;}
}
@media (max-width: 1500px) {
   .skill_container .box p:nth-of-type(1) {
      font-size: 16px;
   }
   .skill_container .box p {font-size: 13px;}
   .skill_container {
      margin-top: 9%;
   }
}
@media (max-width: 1250px) {
   .box {
      /* width: 150%;
      margin-left: -40px; */
   }
}
@media (max-width: 1070px) {
   .skill_container {
      margin-top: 12%;
   }
   .skill_container .box p {font-size: 12px;}
}
@media (max-width: 940px) {
   .box {
      word-break: break-all;
      overflow-wrap: break-word;
   }
   .skill_container {
      margin-top: 12%;
   }
}

@media (max-width: 730px) {
   .skill_container {
      margin-top: -30px;
      grid-template-columns: repeat(2, 1fr); /* 2열로 변경하여 두 개씩 배치 */
      gap: 30px 0px; /* 줄 간격과 열 간격을 조정하여 공간 절약 */
      width: 90%; /* 화면에 맞게 너비를 조정 */

   }

   .box img {
      width: 20%; /* 이미지 크기 조절 */
   }

   .skill_container .box p:nth-of-type(1) {
      font-size: 16px; /* 글자 크기 조정 */
      margin: 20px 0 10px; /* 텍스트 위아래 여백을 줄여 공간 절약 */
   }
}


/* project */
.project {
   width: 100%;
   height: 100vh;
   color: #000;
}

.project_title {
   margin-bottom: 90px;
}
.skill_title {
   margin-bottom: 90px;
}

.project_container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   width: 80%;
   gap: 20px;
   margin: auto;
   opacity: 0;
   transform: translateY(150px);
   transition: opacity 0.5s ease-out, transform 0.5s ease-out;
   margin-top: 50px;
}

.project_box {
   overflow: hidden;
   width: 100%;
   height: 90%;
   text-align: center;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: var(--title-font);
   border: 1px solid rgba(0, 0, 0, 0.1);
}

.project_box:hover img{
   transform: scale(1.1) !important;
}

.project_box img {
   width: 100%;
   height: 100%;
   transition: transform 0.3s;
   object-fit: cover; /* 이미지가 박스에 맞게 채워지도록 수정 */
}

.project_overlay {
   position: absolute;
   display: flex;
   justify-content: space-between;
   align-items: last baseline;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.8); /* 어두운 오버레이 배경 */
   color: #fff;
   opacity: 0; /* 호버 시 나타나도록 설정 */
   transition: opacity 0.3s ease;
}

.project_box:hover .project_overlay {
   opacity: 1;
}

.project_overlay p {
   text-align: left;
   width: 70%;
   margin-left: 30px;
   margin-bottom: 50px;
   font-size: 18px;
   font-weight: bold;
   color: #FFF;
}

/* 버튼 컨테이너 */
.project_btn_container {
   width: 30%;
   height: 10%;
   display: flex;
   gap: 10px;
   background: none;
}
.project a {background: none;}

.project_btn1, .project_btn2 {
   background-color: #fff;
   font-family: var(--title-font);
   color: #000;
   cursor: pointer;
   font-size: 16px;
   border: none;
   align-items: center;
   transition: background-color 0.3s, color 0.3s;
   padding-bottom: 3px;
   border-radius: 5px;
}

.project_btn1:hover, .project_btn2:hover {
   background-color: var(--main-color);
   color: #fff;
}
.project_btn2 {height: 100%;}

.modal {
   display: none;
   position: fixed;
   z-index: 1000;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.9);
   color: #FFF !important;
}

.modal_content {
   position: relative;
   margin: 6% auto;
   padding: 20px;
   width: 80%;
   max-width: 1000px;
   height: 700px;
   background-color: #333;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   text-align: center;
   color: #FFF;
}
.modal_content #modal_title {
   font-weight: bold;
   font-size: 32px;
   background-color: rgba(0, 0, 0, 0.0);
   margin-top: 20px;
   margin-bottom: 50px;
   margin-left: 30px;
   color: #FFF;
}
.modal_content #modal_image {
   width: 80%;
}

.modal_content #modal_description .pfirst {
   font-weight: 510;
   margin-bottom: 20px;
}

.modal_content #modal_description {
   background-color: #333;
   padding: 10px;
   margin-top: 30px;
   font-size: 18px;
   line-height: 1.1em;
   color: #FFF;
}

.close {
   background-color: rgba(0, 0, 0, 0.0);
   color: #F00;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}
.modal_button {
   display: inline-block;
   padding: 10px 20px;
   margin-top: 30px;
   background-color: #007BFF;
   color: white;
   border: none;
   border-radius: 4px;
   text-decoration: none;
   font-size: 16px;
   transition: background-color 0.3s;

}

.modal_button:hover {
   background-color: #0056b3;
}

@media (max-width: 1500px) {
   .project_btn1, .project_btn2 {

      font-size: 12px;
   }
}
@media (max-width: 1250px) {
   .project_overlay p {
      width: 47%;
      margin-left: 15px;
      margin-bottom: 45px;
      font-size: 14px;

   }
   .project_btn_container {
      width: 45%;
      height: 10%;
      display: flex;
      gap: 10px;
      background: none;
   }
   .project_btn1 {
      width: 80px;
   }
   .project_btn2 {
      width: 80px;
      margin-right: 15px;
   }
}
@media (max-width: 876px) {
   .project_overlay p {
      width: 47%;

   }
   .project_btn_container {
      width: 35%;
   }
   .project_btn1 {
      width: 40px;
      height: 40px;
      font-size: 10px;
   }
   .project_btn2 {
      width: 40px;
      height: 40px;
      font-size: 10px;
   }
}

@media (max-width: 740px) {
   .project_overlay p {
      width: 31%;
      margin-left: 15px;
      margin-bottom: 45px;
      font-size: 12px;

   }
   .project_btn_container {
      width: 40%;
      height: 10%;
      display: flex;
      gap: 10px;
      background: none;
   }
   .project_btn1 {
      width: 40px;
      height: 40px;
      font-size: 9px;
   }
   .project_btn2 {
      width: 40px;
      height: 40px;
      margin-right: 15px;
      font-size: 9px;
   }
}
@media (max-width: 630px) {
   .project {
      margin-top: 100px;
   }

   .project_container {
      grid-template-columns: 1fr;
      width: 90%;
      gap: 20px;

   }

   .project_box {
      height: auto;
   }

   .project_overlay p {
      font-size: 16px;
      margin-left: 20px;
      margin-bottom: 30px;
   }

   .project_btn_container {
      width: 30%;
   }
   .project_btn1 {
      width: 50px;
      height: 50px;
   }
   .project_btn2 {
      width: 50px;
      height: 50px;
      font-size: 8px;
   }
}